<!DOCTYPE html>
<html>
	<head>
		<title>Cooper Comics</title>

		<% include ../snippets/head %>
		<% include ../snippets/analytics %>
		<% include ../snippets/css %>
	</head>
	<body>
		<% include ../snippets/navbar/navbar %>

		<div class="pusher">
			<div class="ui inverted vertical masthead center aligned segment">
				<% include ../snippets/navbar/navbar-fixed %>

				<div class="ui text container">
					<h1 class="ui inverted header">
						Cooper Comics
					</h1>
					<h2>Editar Leilão</h2>
				</div>
			</div>
			<div class="ui container" style="margin-top: 1em;">
				<div class="ui segment">
					<h1>Livro</h1>
					<form class="ui form" action="/api/leilao/alterar" method="post" id="editarleilao">
						<input type="text" name="id" class="hidden" value="<%= leilao._id %>">
						<input type="text" name="bookid" class="hidden" value="<%= leilao.book._id %>">
					  <div class="equal width fields">
					    <div class="field">
					      <label>Autor</label>
					      <input type="text" placeholder="Autor" name="autor" value="<%= leilao.book.author %>">
					    </div>
					    <div class="field">
					      <label>Título</label>
					      <input type="text" placeholder="Título" name="titulo" value="<%= leilao.book.title %>">
					    </div>
							<div class="field">
					      <label>Editora</label>
					      <input type="text" placeholder="Editora" name="editora" value="<%= leilao.book.publisher %>">
					    </div>
							<div class="field">
								<label>Edição</label>
								<input type="text" placeholder="Edição" name="edicao" value="<%= leilao.book.edition %>">
							</div>
					  </div>

						<h1>Leilão</h1>
						<div class="inline fields">
							<div class="field">
								<label for="preco">Preço Inicial do Leilão</label>
								<input type="number" name="preco" min="0" title="Only numbers are allowed" value="<%= leilao.initialPrice %>"/>
							</div>
							<div class="field">
								<label for="imagem">Imagem</label>
								<input type="text" name="imagem" value="<%= leilao.book.images[0] %>"/>
							</div>
						</div>

						<div class="equal width fields">
							<div class="field">
								<label for="descricao">Descrição</label>
						    <textarea name="descricao" form="editarleilao"><%= leilao.description %></textarea>
						  </div>
						</div>
						<button type="submit" name="submit" class="ui positive button">Editar Leilão</button>
						<button class="ui negative button" type="reset">Reset</button>
						<a target="_self" href="/admin/editar" class="ui red button">Voltar</a>
					</form>
				</div>
			</div>
			<% include ../snippets/footer %>
		</div>

		<% include ../snippets/js %>
		<script src="/js/formvalidation/criarLeilao.js" charset="utf-8"></script>
		<script src="/js/controller/listarLeilao.js" charset="utf-8"></script>
	</body>
</html>
